.settings
.classpath
.project
.metadata
.DS_Store
build/
target/
.gradle
grails-plugins/mongodb/web-app
grails-plugins/checkout
grails-plugins/redis/web-app
eclipse-workspace/
Servers/
out
stacktrace.log

/grails-datastore-gorm-gemfire/.settings/
/grails-datastore-gorm-jpa/.settings/
/grails-datastore-gorm-mongo/.settings/
/grails-datastore-gorm-redis/.settings/
/grails-datastore-gorm-riak/.settings/
/grails-datastore-gorm-tck/.settings/
/grails-datastore-gorm-tck/bin/
/grails-datastore-gorm-test/.settings/
/grails-datastore-gorm-test/bin/
/grails-datastore-gorm/.settings/
/grails-datastore-gorm/bin/
/spring-datastore-core/.settings/
/spring-datastore-core/bin/
/spring-datastore-gemfire/.settings/
/spring-datastore-gemfire/bin/
/spring-datastore-jpa/.settings/
/spring-datastore-jpa/bin/
/spring-datastore-mongo/.settings/
/spring-datastore-mongo/bin/
/spring-datastore-redis/.settings/
/spring-datastore-redis/bin/
/spring-datastore-riak/.settings/
/spring-datastore-riak/bin/
/spring-datastore-simple/.settings/
/spring-datastore-simple/bin/
/spring-datastore-web/.settings/
/spring-datastore-web/bin/