.settings/
.classpath
.project
.metadata
.DS_Store
build/
target/
.gradle/
grails-plugins/mongodb/web-app
grails-plugins/checkout
grails-plugins/redis/web-app
grails-plugins/neo4j/web-app
eclipse-workspace/
Servers/
out
stacktrace.log
*.iws
*.iml
*.ipr
.idea/*
classes/*
bin/
