before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
language: groovy
branches:
  only:
    - 6.1.x
jdk:
- openjdk8
- openjdk11
dist: trusty
env:
  global:
  - TERM=dumb
  - MALLOC_ARENA_MAX=1
  - GRADLE_OPTS="-Xmx768m -Xms256m -XX:MaxPermSize=256m -XX:+CMSClassUnloadingEnabled"
  - GIT_NAME="Graeme Rocher"
  - GIT_EMAIL="graeme.rocher@gmail.com"
  - secure: RB91TbokXRArer1GQD3AGfEWK/asNS0L/+d5NtQImik5dxQyj6purtg69Gi5MXOMgVJDlrv8IgxAQQyGKI96hvDZ5UpYPPYrod4lKcStLSwjihSualK8dNZ/4PAbNoGrszvWFJs5gzRYfkctpZ275CD/60F+IBOdYf0rgMQdnU0=
  - secure: T4Fs4Yp9r90nml1MAIncLtSDXwBng7V8XIhayDAiGrRAtP9bYsRUqb22V1vFvUQi9tPbpJy/d1LwDGqvEpfnWOOj6ScrtzhuhYbEbkK7kxZiYgRxkOtaI5gOhy88FvhSf7MPv/6ZLz3gnoNF8/y3JaZgSMdOOZZIh7rCuq0SCzE=
  - secure: b3nwej9yLrLlXlnQ4hnnJNJ9cyBhx88EvcUGyTIzBGFYKG5NtOEDlknHVsiYqjNEBmjPSJyPxfZI897QuKm4T8lV0ZCrT3EG2TvIKZsn77ovdiIjwSWxxrJ6XrYCIKsf1Giezdxyb5wMAKoOZQ5kQzd0EnO0n0qG1gTF4wcx6Eg=
  - secure: E/VSNK3SwUJUORlDi7akJo4FjBajaxgg4DhuXokaKaJD6jdqJ4S2CPKk0AY957oqbox1i9l8I7Wx+NUKjADmVIppwcbY/h90bhZJRgOPdmtLd+iab8SM8YRYNjTpFKMh3qKa8WG5yP5oKiqCoL4j8XPopsfnLRbpO6D5sT7PIa8=
  - secure: Dz/hkrMTZF5qeyk03JrJqTvZKYcqrRL8B2WzMigTUWvKTJdIDHPWXzidimpUQIQ3AaLxUwktihfQQ3CrBMJg3DqLjnjMCCNBfTRj7pfxfL8UptHW+bjcKN5A5ZgaW/2CkNmiFWtMbpTCwz4oWhXblgV1Fjaq6vwPT7MBS0O32fw=
  - secure: O+F/mFI/rgteiNyxvNYeg+0eJhjHt3WaWabFty60slElvbyjq48GGsAG+PsgQftHbQiaRJBlGeqQZciDjLcKl/BIdptonGg7PAyfy4EI7ugF37YTgvskricU6ob/41Lxf/2gfhFPEQaTdKNuoc1YgNSpfVZfzhxVW70rNgGxZTk=
  - secure: R3YoirPJfFK/SfMx0/hOS4N2u57pfdcE0XTKqo/5LkCXuHHsJqQbHSsYlpRIlJqVOX6rCuX9XXsO3Yu0fX/KqsylnbSLNp5OS6jTedwmJ5rGzLhaPl4NZh5IB1EK0dBkarwihAGbHFGhYNy3SUSHc3/A553C7Hfnakj4hnYIB+I=
  - secure: HtCFGVFnw9c9KOUkg0HVWco3pEANiYmy3UfaQQ0CJonT/VjNn0b32MLXk8dYYvhcmekmRUac2/rRNvHob5Fled4doME+DEAk1RL39Eqr6nxW8XfDwxGNlcaXwlAY1UHgDIe0z27KWtoynzw9zVhjUo0g+FM53kvb+Yuuz7sXZZ8=
  - secure: QKyZ5iXhZkqoE+zqhiKKqnCVbmr2mBkaAPkHmfDsv9OY+s5fcKhEWr8Ytht8Gm7TGap3A1CAIYCn1tcKgzAgbxkgdG4mYWXks5Ivhp3fQBi3x7gKQAF80/9pe4Y7VFj+5KnY0V3RRC6J+LytjndC2yV/OTy/9PwzP5y3yrM8MZo=
  - secure: WEi+MAUwjQkKch64EC/5AprneOxlcOzptX4muF3o3DQ/uQ9wY3gKaOlctdD1vXkzqqJC2FtgJUF2xj04bH+0geKMkvRsIW6OFyEE5JInT/ZsrD6B12ScnzHF8DTXZKSpFtLOW8yEOO09Raykt3g+RXYwkSdOnRcMTWEYJ/huCFM=
  - secure: U5U+rh3TugxMuTkpetfBj28f6uACKjD88jsQR5cd0B7gV5j0RAkq3skFpHu1F43y/RmofRcAqeSsYVT8+qRCEBDZjYBwTnT5+N+ItBzGNpv486oEyIhMUCr9bpfibfHz+1uqlPBFF9E+5X2lT5hSIXyIiBa+l/LpwhHsb0wSzH0=
  - secure: V7Dwj9pqJWmjeYJYWHdNGlujNhFwvEc5YbTv5AO9Xn+iUgaaQEmrv43a5I+4m+EGVraD3Pg6ENPBEc7e0/cD7GoocQ0uXwGkfe+dJISvp3s18lDMm7EtdxmTkiKVH5sgsHnGbbEHV4Ku1c9k1u4DKEjmPzfpoNr/vI2yKU9I5EM=
  - secure: XXFQBgzpIYV8boZo/ZeEq300zDLrWzD09vSTh3A9BvPsTTJgGlPBF008zFP2WD2XacBHbCFMPd0hPrO25SSCwX4P8C/PhhRRkrhuYaM1OeYzi6Xxbtnc1gpdUdxm9Z/cZlvLTEKL3cq+9XqbKOkcumM9pxY1mWkoeLVuv/9dsXw=
matrix:
  fast_finish: true
install: true
script: ./travis-build.sh
notifications:
  slack:
    secure: eSyvdf/vA0KGAyiITwe7ooD6BCX94PCy7o35HSkbfUbHB5XPJq/SkqRjjIeiwrgywVph+qGBPYmzIdep4BQwH+JFEfPu0gQoNWKeGAVmJ9LeFaP4vaXWvuRugunO9zUla4JT2cfmsxKVEoTfI1NIfT15hYBMHi+8CfgFlx2zOdk=
