name: Java CI
on:
  push:
    branches:
      - master
      - '[7-9]+.[0-9]+.x'
  pull_request:
    branches:
      - master
      - '[7-9]+.[0-9]+.x'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['8', '11', '14']
    env:
      WORKSPACE: ${{ github.workspace }}
      GRADLE_OPTS: -Xmx1500m -Dfile.encoding=UTF-8
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}
      - name: Run Tests
        if: github.event_name == 'pull_request'
        id: tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check
        env:
          GRADLE_ENTERPRISE_BUILD_CACHE_NODE_USER: ${{ secrets.GRADLE_ENTERPRISE_BUILD_CACHE_NODE_USER }}
          GRADLE_ENTERPRISE_BUILD_CACHE_NODE_KEY: ${{ secrets.GRADLE_ENTERPRISE_BUILD_CACHE_NODE_KEY }}
      - name: Run Build
        if: github.event_name == 'push'
        id: build
        uses: gradle/gradle-build-action@v2
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
          GRADLE_ENTERPRISE_BUILD_CACHE_NODE_USER: ${{ secrets.GRADLE_ENTERPRISE_BUILD_CACHE_NODE_USER }}
          GRADLE_ENTERPRISE_BUILD_CACHE_NODE_KEY: ${{ secrets.GRADLE_ENTERPRISE_BUILD_CACHE_NODE_KEY }}
        with:
          arguments: build
      - name: Publish Test Report
        if: steps.build.outcome == 'failure' || steps.tests.outcome == 'failure'
        uses: scacap/action-surefire-report@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: '**/build/test-results/test/TEST-*.xml'
      - name: Publish to repo.grails.org
        id: publish
        uses: gradle/gradle-build-action@v2
        if: steps.build.outcome == 'success' && github.event_name == 'push' && matrix.java == '8'
        env:
          ARTIFACTORY_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          ARTIFACTORY_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
        with:
          arguments: -Dorg.gradle.internal.publish.checksums.insecure=true publish
      - name: Extract branch name
        if: steps.publish.outcome == 'success' && github.event_name == 'push' && matrix.java == '8'
        id: extract_branch
        run: echo ::set-output name=value::${GITHUB_REF:11}
      - name: Create Snapshot Message for the Workflow Dispatch
        if: success() && github.event_name == 'push' && matrix.java == '8'
        id: dispatch_message
        run: echo ::set-output name=value::{\"message\":\"New Core Snapshot $(date) - $GITHUB_SHA\"}
      - name: Invoke the Java CI workflow in GORM Hibernate5
        if: success() && github.event_name == 'push' && matrix.java == '8'
        uses: benc-uk/workflow-dispatch@v1.1
        with:
          workflow: Java CI
          repo: grails/gorm-hibernate5
          ref: ${{ steps.extract_branch.outputs.value }}
          token: ${{ secrets.GH_TOKEN }}
          inputs: ${{ steps.dispatch_message.outputs.value }}
      - name: Invoke the Java CI workflow in GORM MongoDB
        if: success() && github.event_name == 'push' && matrix.java == '8'
        uses: benc-uk/workflow-dispatch@v1.1
        with:
          workflow: Java CI
          repo: grails/gorm-mongodb
          ref: ${{ steps.extract_branch.outputs.value }}
          token: ${{ secrets.GH_TOKEN }}
          inputs: ${{ steps.dispatch_message.outputs.value }}
      - name: Invoke the Java CI workflow in GORM Neo4j
        if: success() && github.event_name == 'push' && matrix.java == '8'
        uses: benc-uk/workflow-dispatch@v1.1
        with:
          workflow: Java CI
          repo: grails/gorm-neo4j
          ref: ${{ steps.extract_branch.outputs.value }}
          token: ${{ secrets.GH_TOKEN }}
          inputs: ${{ steps.dispatch_message.outputs.value }}
